@import "../../global.scss";

.cart{
 width:90vw;
 margin: 0 auto; 
 .breadcrumbs-cart{   
  width: 100%;  
  padding: 10px 0px;
  position: sticky;
  top:115px;
  z-index: 1;
  background-color: white;
  z-index: 2;
  .container-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;      
    .left{
    text-transform: capitalize;     
    a{
        text-decoration: none;
        color:rgb(73, 72, 72);            
        &:hover{
        color:inherit;        
        }
      }     
    }     
  }    
  }
 
  .box{
   
  }
  .buttons{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    button{
      text-transform: uppercase;
      padding: 20px 40px;
      font-weight: 700;
      cursor: pointer;
      @include extra-large-screen(){       
  
      }
      @include desktops{       
        
      }
      @include laptops{ 
                  
      }
      @include tablets{       
            
      }
      @include mobile{       
        padding: 20px 30px;

      }
      &.outline{
        border:solid 1px #1891ac;          
        color:#1891ac;
        background-color: white;
        &:hover{
          border:solid 1px #1891ac;          
          color:white;
          background-color: #1891ac;
        }
      }
      &.block{
        border:solid 1px #1891ac;          
        color:white;
        background-color: #1891ac;        
        &:hover{
          border:solid 1px #1891ac;          
          color:#1891ac;
          background-color: white;
        }
      }
    }
    
  }
  .details{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;   
    gap:10px;
    margin: 40px 0; 
    width:100%;   
    @include extra-large-screen(){       
  
    }
    @include desktops{       
      
    }
    @include laptops{ 
                
    }
    @include tablets{       
      flex-direction: column-reverse;
         
    }
    @include mobile{       
      flex-direction: column-reverse;
    }
    .detail{      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex:1;
      background-color: #f6f6f6;
      padding: 20px ;      
      height: 100%;
      width:100%;
    .text{
      margin: 10px 0 20px 0;   
      display: flex;      
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;   
      label{
        margin-left: 10px;
      }
    }
    &.coupon{          
      height:250px;
      padding: 30px ; 
           
    }
    h2{
      text-transform: capitalize;
    }
    hr{
      width:80%;
      border: none;
      background-color: gray;
      opacity: .50;
      height: 1px;
      margin: 20px 0;
    }
    .options{
      display: flex;
      align-items: center;
      gap:10px;
      padding:0 10px;
      width: 100%;
      .label{
      width:120px; 
      margin-right: 10px;        
      }
      select{        
        display: flex;
        align-items: flex-start;  
        justify-content: center;        
        margin:  5px;
        padding: 10px ;
        border: solid 1px lightgray;
        border-radius: 3px;
        cursor: pointer;  
        width:300px;            
      }    
      input{
      width:200px;
      padding: 5px;
      border:solid 1px lightgray;          
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-top: 5px;
    }
    }    
    button{
      text-transform: uppercase;
      padding: 20px 40px;
      font-weight: 700;
      margin-bottom: 10px;      
      cursor: pointer;
      &.outline{
        border:solid 1px #1891ac;          
        color:#1891ac;
        background-color: transparent;
        
        &:hover{
          border:solid 1px #1891ac;          
          color:white;
          background-color: #1891ac;
        }
      }
      &.block{
        border:solid 1px #1891ac;          
        color:white;
        background-color: #1891ac;
        margin: 10px 0 ;        
        margin-bottom: 20px;

        &:hover{
          border:solid 1px #1891ac;          
          color:#1891ac;
          background-color: transparent;
        }
      }
      &.orange{
        background-color: #ff8927;
        color:white;
        border:solid 1px #ff8927;  
        margin: 20px 0;        
        &:hover{
                  
          color:#ff8927;
          background-color: transparent;
        }
      }
    }      
    input[type="text"]{
      width:400px;
      padding: 20px;
      border:solid 1px #1891ac;          
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    .top{
    display: flex;
    align-items: center;  
    justify-content: center;   
    flex-direction: column;
    width:100%;
    padding:10px;
    hr{
      width:100%;
    }
    .sub{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price{
        color:#ff8927;
        font-weight: 500;
      }
      .total{
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
    }  
    button{
      a{
        text-decoration: none;
        color:inherit;
      }
    }
    }
  
    }
  }
}