@import "../../global.scss";
.login{
  width:600px;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: solid 1px lightgray;
  padding: 50px 50px;
  -webkit-box-shadow: 8px 10px 17px -4px rgba(163,163,163,0.86); 
  box-shadow: 8px 10px 17px -4px rgba(163,163,163,0.86);
  
  @include mobile{       
  width:90%;          
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    label{
      padding: 15px 0;
    }
    input[type="email"], input[type="password"]{
      width:480px;
      padding:10px;
      border: solid 1px lightgray;
   
      @include mobile{       
      width:350px;
      
      }
    }
    .remember{
      width:100%;
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color:gray;
      .me{
        label{
          margin-left: 10px;
        }
      }
      .text{
        text-transform: capitalize;
        a{
          text-decoration: none;
          color:inherit;
          &:hover{
            color:black;
            text-decoration: underline;
          }
        }      
      }
    }
    button{
      width:100%;
      padding: 10px;
      background-color: #ff8927;
      color:white;
      border:solid 1px #ff8927; 
      text-transform: uppercase;   
   
      font-size: 1.1rem;
      cursor: pointer; 
      &:hover{
        background-color:white ;
        color:#ff8927;
      }
    }
  }
}