@import "../../global.scss";

.navbar{
  position: sticky;
  top:0;
  z-index: 9999;
  background-color: white; 
  width:100vw;
  padding: 0;

 .top{
    width:100vw;
    border-bottom: 1px solid lightgray;  
    &.active{
      display: none;               
    }
  .container{    
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      display: flex;
       flex-direction: row;
      .social{
        display: flex;
        align-items: center;
        justify-content: center;
        width:20px;
        height:20px;
        border: 1px solid gray;
        border-radius: 4px;
        padding: 12px;
        color: gray;
        margin: 5px;
        cursor: pointer;
        & :hover{
          color: rgb(55, 54, 54);
        }
      }
    }
    .right{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color:gray;
      font-size: 0.80 rem;
      gap: 40px;
       cursor: pointer;
      & :hover{
          color: rgb(55, 54, 54);
        }
       .times{       
        @include mobile{       
          display:none;             
        }
        span{
        padding-right: 5px;       
      }
      
      }     
    }
  }
 }  
  .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin:0 auto;  
    
    .logo-img{
      cursor: pointer;      
    }
    .nav-menu{    
       text-transform: uppercase;
       width:740px;
       color: gray;  
       @include mobile{       
          display: flex;     
          align-items: center;  
          justify-content: flex-end; 
          width:100%;     
        } 
       .list-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        .menus{
          display: flex;
        align-items: center;
        justify-content: center;          
        gap:20px;    
        margin-right: 70px;
        text-decoration: none;  
        @include tablets{       
          margin-right: 0px;
          margin-left: 5px;           
        } 
        @include mobile{       
          display:none;             
        }       
        a{
          text-decoration: none;          
        }
        .listitem{
          color: gray;
          cursor: pointer;
          text-decoration: none;     
          &.active {
            font-weight: 700;
            color: rgb(55, 54, 54);
          }
          &:hover{
            color: black;
          }          
        }        
        }
        .menu-icons{
          margin-left: 50px;
          @include tablets{      
            margin-left: 25px;           
          }           
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;     
        @include mobile{       
          margin-right: 20px;             
        }
        &:hover{
          color: rgb(55, 54, 54);
        }
        .cart-icon{
          position: relative;          
          margin-left: 10px;
         
          .number{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top:-10px;
            left:15px;
            font-size: .75rem;
            background-color: 
            #1891ac;
            color: white;
            border-radius: 50%;
            padding: 4px 7px;             
        }
        }
        .wish{
          position: relative;          
          margin-left: 10px;
          z-index: 1;
          &:hover{
            .outline{
              display: none;
            }
            .solid{
              display: inline;
            }
          }
          .outline{
            display: inline;
          }
          .solid{
            display: none;
          }
       
         
          .number{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top:-10px;
            left:10px;
            font-size: .75rem;
            background-color: 
            #1891ac;
            color: white;
            border-radius: 50%;
            padding: 4px 7px;             
        }
        }        
        }
      .hamburger{
        display: none;
        &:hover{
          color:black;
          cursor: pointer;
        }
        @include mobile{       
          display:inline;             
        }
      }
       }
     
    }   
  }  
  .bottom{
    width:90vw;
    margin:0 auto;
    color:gray;
    display: flex;
    align-items: center;
    justify-content: center;     
    padding-bottom: 10px;   
    @include tablets{               
      width:100vw; 
      padding: 0 20px;
      padding-bottom: 10px;  
    }     
    .container{   
      display: flex;  
     .search{       
      display: flex;
      align-items: center;
      justify-content: center;       
      border: 1px solid lightgray; 
      @include laptops{               
        width:550px;            

      }    
      @include tablets{       
        width:450px;            
     }  
      @include mobile{       
        width:370px;             
      }  
      .categories{
        position: relative;          
        select {         
          border: none !important;           
          padding-left: 20px;        
          outline: none;         
          scroll-behavior: smooth;         
          cursor: pointer;   
          padding-right: 70px;           
          z-index: 1; 
          font-weight: 700;    
          @include mobile{       
            padding-right: 10px;           
            padding-left: 10px;        
           
          }                
        } 
          .button{
        position: absolute;
        top:3px;
        right:-5px;
        border-right: 2px solid lightgray;
        background-color: white;
        padding-right:10px;
        margin-right:5px;
        pointer-events: none;
        font-size: 12px;
        } 
    }
      input {
      width:500px;
      background-color: transparent;
      border-style: none;
      outline:0px;
      margin-left: 10px;            
      }   
    }
      button{
        border: none;
        color: white;
        background-color:#1891ac;          
        font-size: 13px;
        padding:10px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    .support{  
      width:300px;
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 20px; 
      @include tablets{               
        font-size: 0.7rem; 
        margin-left: 10px; 
      }     
      @include mobile{       
        display:none;             
      }
      .icon{
        font-size: 2rem;  
        @include tablets{               
          font-size: 1.5rem;  

        } 
      }
      .hotline{ 
        padding-left: 20px; 
        @include tablets{               
          padding-left: 10px; 
        }  
        .text{
        color: rgb(55, 54, 54);
        font-weight: 500;
          @include tablets{  
          font-size: 0.7rem;                     
          }        
        }
      }
    }
    
    
  }
}
