@import "../../global.scss";
thead{
  width:100%;

  tr{
 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;   
    padding: 20px 0;  
    &:first-child{
      border-bottom: solid 1px lightgray;        
      padding: 10px 0;           
        td{
        font-weight: 500;
         text-transform: uppercase;
         @include mobile{          
         font-size: 0.90rem;
         } 
       }          
    }
    td{  
      display: flex;
      align-items: center;
      justify-content: space-around;  
      width: 100%;
      text-transform: capitalize;     
     margin: 0 70px;
     @include desktops{
      margin: 0 10px;
     }
     @include laptops{
      margin: 0 10px;
     }
     @include tablets{
      margin: 0 10px;
     }
     @include mobile{
      margin: 0 5px;
     } 
   
      a{
        text-decoration: none;
        color:inherit;
        &:hover{
          color: gray;
        }
      }    
       .x{           
        border: solid 1px black;
        padding: 5px 10px;    
        @include mobile{
          padding: 4px 8px; 
         font-size: 0.8rem;
         }          
      } 
      .close{
        cursor: pointer !important;
        color: gray;
         &:hover{
          color: black;
        }
      } 
    }}
}
tbody{
  width:100%;
   tr{ 
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    width:100%;
    padding: 20px 0;
    
    td{  
      display: flex;
      align-items: center;
      justify-content: center;  
      width: 100%;
      text-transform: capitalize;     
     margin: 0 70px;
    
    
      
    //  &:nth-child(2) {
    //   display: flex;
    //   align-items: center;
    //   justify-content: flex-start;  
    //   background-color: red;
    //   min-width: 150px;
    //   word-wrap: break-word;
    //   }
     @include desktops{
      margin: 0 10px;
     }
     @include laptops{
      margin: 0 10px;
     }
     @include tablets{
      margin: 0 10px;
     }
     @include mobile{
      margin: 0 5px;
     } 
   
      a{
        text-decoration: none;
        color:inherit;
        &:hover{
          color: gray;
        }
      }    
       .x{           
        border: solid 1px black;
        padding: 5px 10px;    
        @include mobile{
          padding: 4px 8px; 
         font-size: 0.8rem;
         }          
      } 
      .close{
        cursor: pointer !important;
        color: gray;
         &:hover{
          color: black;
        }
      } 
      .blue{
        color:#1891ac;
        font-weight: 700;
      }       
      
      &.images-items{
        display: flex;
        align-items: center;
        justify-content: center;
        height:150px;
        width:150px;
             
        &:hover{
          .image1{
            display: none;            
          }
          .image2{
            display: flex;           
          }
        }
        .image1{        
        height:150px;
        width:150px;
        border: solid 1px lightgray;        
        display: flex;       
        @include mobile{
        height:110px;
        width:110px;
        }
        img{
            width:100%;
            height:100%;
            object-fit: contain;
          }
        }       
        .image2{        
          height:150px;
          width:150px;
          border: solid 1px lightgray;          
          display: none;
          @include mobile{
            height:110px;
            width:110px;
            }
           img{
               width:100%;
               height:100%;
               object-fit: contain;
             }
         }  
       }       
    .quantity{
      display: flex;
      align-items: center;
      justify-content: center;
       border: solid 1px lightgray; 
      .qty{
        padding: 5px 15px 5px 20px;
      }
      .func{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: gray;
       .option{
        display: flex;
        align-items: center;
        cursor: pointer;
        border:solid 1px white;
        padding: 5px;
        &:hover{
          color:white;
          border:solid 1px black;
          background-color: black;
        }
       }                   
        
      }
    }
    }
    
  }

}
 