@import "../../../global.scss";

.sidebar{
  background-color: #f6f6f6;
  padding: 20px; 
  margin-right: 10px;
  width:330px;
  flex:1; 
  text-transform: capitalize;

  &.active{
    position: fixed;
    top:10px; 
           
  }
  @include mobile{       
    display: none;  
    margin-top: 20px;            
  }
  .options{
    position: relative;
   
    .title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      text-transform: capitalize;
      padding: 10px 0;
      cursor: pointer;
      .icons{
      font-size: .80rem;
      color: gray;
      display: flex;
      align-items: center;
      justify-content: space-around;    
      
        i{          
          background-color: white;
          border-radius: 50%;
          padding: 6px;
          cursor: pointer;
          &:hover{
            color:black;
          }
        }       
      }
    }
    .option{
      color: gray;
      padding-left: 20px; 
     // width:300px;    
      transition: all 1s ease-out;       
      height: 150px; 
      cursor: pointer;      
      overflow: hidden;
      transition: all 1s ease; 
      //overflow-y: scroll;
      &.hide{
        height: 0;        
        overflow: hidden;
      } 
      .inputItem{
        padding-bottom: 5px; 
        display: block;
       
        &:hover, &.active{
        color:#ff8927;
        }        
        input{
        margin-right: 10px;     
         cursor: pointer;         
          &:checked + label{
          color:#ff8927 ;        
          
          }
        
        }
      }      
    }
    .brand-option{
      color: gray;
      padding-left: 20px; 
      width:310px;    
      transition: all 1s ease-out;       
      height: 670px; 
      cursor: pointer;      
      overflow: hidden;
      transition: all 1s ease; 
      overflow-y: scroll;
      &.hide{
        height: 0;        
        overflow: hidden;
      } 
      .inputItem{
        padding-bottom: 5px; 
        display: block;
       
        &:hover, &.active{
        color:#ff8927;
        }        
        input{
        margin-right: 10px;     
         cursor: pointer;         
          &:checked + label{
          color:#ff8927 ;        
          
          }
        
        }
      }      
    }
    .color-option{
      color: gray;
      padding-left: 20px; 
      width:200px;    
      transition: all 1s ease-out;       
      height: 80px;       
      cursor: pointer;      
      overflow: hidden;
      transition: all 1s ease; 
      
      &.hide{
        height: 0;        
        overflow: hidden;
      } 
      .inputItem{
        padding-bottom: 5px; 
        display: block;
       
        &:hover, &.active{
        color:#ff8927;
        }        
        input{
        margin-right: 10px;     
         cursor: pointer;         
          &:checked + label{
          color:#ff8927 ;        
          
          }
        
        }
      }      
    }
    .size-option{
      color: gray;
      padding-left: 20px; 
      width:200px;    
      transition: all 1s ease-out;       
      height: 150px;       
      cursor: pointer;      
      overflow: hidden;
      transition: all 1s ease; 
      
      &.hide{
        height: 0;        
        overflow: hidden;
      } 
      .inputItem{
        padding-bottom: 5px; 
        display: block;
       
        &:hover, &.active{
        color:#ff8927;
        }        
        input{
        margin-right: 10px;     
         cursor: pointer;         
          &:checked + label{
          color:#ff8927 ;        
          
          }
        
        }
      }      
    }
   
    
    
  }
  .tags{
  

    @include mobile{
      display: none;
    }
    .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 20px 0 10px 0;
    }
    .tag-item{
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap;
      gap:10px;
      .tag{
        width:max-content;
        border: solid gray 1px ;
        padding: 10px 20px;
        //margin: 8px 0;
        text-transform: uppercase;  
        font-size: .90rem;  
        color:gray; 
        // cursor: pointer; 
        // &:hover{
        //   color:black;
        //   border-color: black;
        // }    
      }
     
    }
  } 
}