@import "../../global.scss";

.featured{
  width: 90vw;
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  h1{
    font-size: 3rem;
  }
  .categories{
    padding: 50px 0;
    color: gray;
    height:50px;
   
    ul{
      list-style: none;
      display: flex;
      gap:50px;      
      @include mobile{ 
        padding-left: 0;      
      
      }
      li{
       text-transform: capitalize;
        &.active{
          color:red !important;
          font-weight: 700;
          border-bottom: 3px solid red;
          padding-bottom: 5px;
          
        }
        &:hover{
          color:red;
          font-weight: 700;
          border-bottom: 3px solid red;
          padding-bottom: 5px;
           transform: all 2s ease;
        }
        .alink{
          cursor: pointer;
          text-decoration: none;
          color:inherit
        }
      }
    }
  }  
  .product{
    margin: auto 0; 
    display: flex; 
    align-items: center;
    justify-content:flex-start;    
    gap:20px;
    flex-wrap: wrap;
    flex-direction: row;
    @include extra-large-screen{ 
      justify-content:center; 
   }
     @include desktops{ 
      justify-content:center; 
      
   }
   @include laptops{ 
    gap:20px;
    align-items: flex-start;
    justify-content:flex-start;  
  
    
  }
    @include tablets{       
      justify-content:flex-start;  
      align-items: flex-start;
  
      margin-bottom: 0;
    }
    @include mobile{       
      justify-content:flex-start;   
      align-items: flex-start;
    }
  }  
  
  .text{
    font-size: .80rem;
    color:gray;
  }
  .plus{
    border:1px solid gray;
    border-radius: 50%;
    padding:15px 20px;
    color:red;
    font-size: 1.2rem;
    margin: 20px 0;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
       transition: all 1s ease;
    }
  }
}