@import '../../global.scss';
.loading{
  width:90%;
  margin: 0 auto
}

.product{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  margin: 0 auto;
  gap:40px;
  .breadcrumbs{   
  width: 90%;  
  padding: 10px 0px;
  position: sticky;
  top:115px;
  z-index: 1;
  background-color: white;
  z-index: 2;
  @include mobile{      
    padding-left: 20px;
    padding-right: 20px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;      
    .left{
    text-transform: capitalize;     
    a{
        text-decoration: none;
        color:rgb(73, 72, 72);            
        &:hover{
        color:inherit;        
        }
      }     
    }     
  }    
  }
  .top{
    display: flex;
    align-items: center;
    justify-content: center;       
    margin: 0 auto 50px auto;    
    width: 90%;
    height:650px; 
    
    @include laptops{      
      flex-direction: column; 
      gap:20px;    
    } 
    @include tablets{      
      flex-direction: column; 
      gap:20px;    
    }   
    @include mobile{      
      flex-direction: column;  
      gap:20px;    
    }
    .left{
      display: flex;
      align-items: center;
      justify-content: center;
      flex:2; 
      border:lightgray solid 1px;
      background-color: #f6f6f6;
      height:650px;
      width:100%;   
      padding: 20px;   
      border-radius: 5px; 
      img{        
        width:100%;
        height:100%;
        object-fit: contain;
      }
    }
    .middle{      
      flex:1;            
      display: flex;
      align-items: center;
      justify-content:flex-start;
      flex-direction: column;      
      gap:5px;         
       height:100%;  
      // width:100%;
      @include laptops{
        flex-direction: row;
      }
      @include tablets{
        flex-direction: row;
      }
      @include mobile{
        flex-direction: row;
      }  
      cursor: pointer;     
        .image{
          width:300px;
          height:125px;           
          border-radius: 5px;          
          padding:  5px;
          @include laptops{
            width:200px;
            height:100px; 
          }
          @include tablets{
            width:150px;
            height:70px;          
            }
          @include mobile{
          width:90px;
          height:70px;          
          } 
          &.active, &:hover{
            border:lightgray solid 1px;
           background-color: #f6f6f6;
          }
          img{
              width: 100%;   
              height: 100%;    
              object-fit: contain;              
          }
        }  
    }     
    .right{     
      flex:1.5;        
      height:650px;
      width:100%;
     
      @include laptops{
       // width:350px;
      } 
      .blue{   
      background-color: #136b7f;      
      padding: 30px 40px;
      text-transform: capitalize;
      color:rgb(187, 184, 184);
        .crumbs{   
          display: flex;   
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          line-height: 30px;
          background-color: #136b7f;  
          border: none; 
          a,i{
          color:white;
          text-decoration: none;        
        } 
        }        
        hr{
          margin: 10px 0;
          border: none;
          background-color: white;
          height: 0.5px ;       
         // opacity: 0.50;
        }   
        .title{
          color:white;
          word-wrap: break-word;
        }  
        .rating{ 
          display: flex;    
          color:white;
          padding-top: 5px;       
          i{
            color:rgb(246, 211, 14);
            margin-left: 5px;
          }
          .reviews{
          margin-left: 10px;       
          }  
        }      
        .price{
          color: #ff905f;
          font-size: 50px;
          font-weight: 500;
        }      
      }
      .lightblue{
        background-color: #1891ac;
        padding: 30px 40px;
        color: white;
        height:285px;
        .desc{
          flex-wrap: wrap;
        }
        .container{
          display: flex;
          
          padding: 10px 0;
          .quantity{
            display: flex;
            align-items: center;
            .minus, .plus{
              padding: 15px 12px;
              background-color: #efefef;
              color:black;     
              cursor: pointer;     
              transition: all 0.3s ease;
              background-color: white;
              &:hover{
              background-color: black;
              color: white;
            }    
            }
            .qty{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: white;
              color:black;              
              padding: 15px 12px;
              margin: 0 10px;
              width: 70px;
            }
            
          }
          button{
            margin-left: 30px;
            text-transform: uppercase;
            display: flex;
            align-items: center;justify-content: center;gap:15px;
            padding:15px;
            border:none;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: white;
             &:hover{
              background-color: black;
              color: white;
            }
            @include mobile{
            margin-left: 0;

            }
            }
           
        }
        .container{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;          
          width:100%;
          @include mobile{                
            flex-direction: column;  
            gap:20px;              
          }
          &.stock{
            align-items: center;
            justify-content: flex-start;  
            flex-direction: row;  
            
          }
          .size{
            display: flex;
            align-items: center;
            text-transform: capitalize;    
            select{
              margin: 0 20px;
              padding: 10px;
              border: none;
              cursor: pointer;              
            }        
          }
          .colors{
            display: flex;
            align-items: center;      
            span{
              margin-right: 20px;
            }
            .color{
              margin:0 5px;
              height:40px;
              width:40px;                  
              &.active{
                border:solid 2px #ff8927;
              }
              cursor: pointer;              
            }
          }
        }
        .container{
          .instock{
            margin-left: 20px;
            background-color: #69cd74;
            font-style: italic;
            padding: 5px;
          }
        }
        .text{
          margin-top: 30px;          
          text-transform: capitalize;
           &.tag{
              display: flex;              
            }
          span{
            margin-right: 10px;           
          }          
        }        
      }
       .orange{
        background-color: 
        #ff8927;
        color:white;
        width:100%;    
       
        .container{    
        display: flex;
        align-items: center;
        justify-content:space-around;
        height: 80px;
          .line{
          height:80px;
          width: 1px;
          background-color: white;
          }
         .icon{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: 
          #ff8927;
          color:white;
          height: 100%;
          width:100%;
         
          &:hover{           
            background-color: white;
            color:#ff8927;
            border:solid 1px#ff8927;
           
          }
          i{  
            display: flex;
            align-items: center;
            justify-content: center;    
            font-size: 1.5rem;    
            flex:1;
            cursor: pointer;}
         }
       
         
          
        }
      }
    }    
  }  
  .tabs{
    width:90%;      
    position: relative;   
    .tab{
    display: flex;            
    flex-direction: column;       
      .tab-title{
        color:rgb(82, 81, 81);
        border-radius: 5%;        
        border:solid 1px lightgray;        
        border-bottom-right-radius: 0%;
        border-bottom-right-radius: 0%;        
        padding: 15px 25px ;
        border-bottom-color: white;
        position: absolute;
        top: -49px;
        z-index: 1;
        left: 0px;        
        font-weight: 700;        
        background-color: lightgray;   
          cursor: pointer;  
        &.active{
          background-color: white;
        }
      }
      .tab-title2{
        color:rgb(82, 81, 81);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;        
        border:solid 1px lightgray;        
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
        padding: 15px 25px ;
        border-bottom-color: white;
        position: absolute;
        top: -49px;
        z-index: 1;
        left: 149px;
        background-color: lightgray;
        font-weight: 700;
        cursor: pointer;  
        &.active{
          background-color: white;
        }
       
      }
      .tab-title3{
        color:rgb(82, 81, 81);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;           
        border:solid 1px lightgray;        
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
        padding: 15px 25px ;
        border-bottom-color: white;
        position: absolute;
        top: -49px;
        z-index: 1;
        left: 300px;
        background-color:lightgray;
        font-weight: 700;
        cursor: pointer;  

        &.active{
          background-color: white;
        }
      }
      .information{
        line-height: 2rem;
        display: flex;   
        align-items: center;
        justify-content: center;                 
        flex-direction: column;
        color:gray;
       // width:100%;
        border:solid 1px lightgray;         
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;  
        border-top-left-radius: 0%;       
        padding: 50px;            
       
        .details{
        line-height: 2rem;
        }
        table{
         width:100%;
        display: flex;
        align-items: flex-start;       
        flex-direction: column;
        padding-top: 20px;
        tr{
          padding: 10px 0;
          td:first-child{
            width:200px;           
            font-weight: 500;
            @include mobile{
            width:150px;              
            }
          }
          
        }
        }
       
        .to{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 50px;
          .star{
            padding: 10px 0;
            color:#f6d30e
          }
          button{
            padding: 10px 20px;
            background-color: white;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 20px;          
            &:hover{
              color:white;
              background-color: black;
            }
          }
        }
        .bottom{  
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;       
          margin: 10px auto;
          border:solid 1px lightgray;
          padding: 30px; 
          
          
          @include tablets{
            flex-direction: column;
          } 
          @include mobile{
            flex-direction: column;
          }      
          &:hover{
            .star{
              color:#f6d30e;
            }
          }
          .left{
          flex: 5;
          
          .star, .name, .date, .long{
            margin: 10px 0;
          }
          .date{
            display: flex;
            gap:10px;       
            flex-direction: row;
          }
          }
          .right{            
            text-align: right;
            width:100%;
            flex:1;            
            a{
              color: red;
            }
          
          }
        }     
      }
     
     } 
    // }
  }
  .related{
    width:90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    
    .titles{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: space-between !important;
      margin-bottom: 20px;
      .left{
        font-weight: 700;        
      }
      .right{
        text-transform: capitalize;
       font-size: .90rem;
        cursor: pointer;
        a{
           color: gray;
        }
      }
    }
   hr{   
    background-color: lightgray;
    height: 1px;
    width:100%;
    border: none;
    margin-bottom: 30px;
   }
   .card{
    width:100%;   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   }
  } 
 
}