@import "../../global.scss";

.wishlist{
  width:100vw;
  margin: 0 auto; 
  .breadcrumbs{   
    width: 100%;    
    padding: 10px 90px;
    position: sticky;
    top:115px;
    z-index: 1;
    background-color: white;
    z-index: 2;
    @include extra-large-screen(){       
  
    }
    @include desktops{       
    padding: 10px 60px;
      
    }
    @include laptops{ 
    padding: 10px 50px;
                
    }
    @include tablets{       
    padding: 10px 40px;
          
    }
    @include mobile{       
    padding: 10px 20px;
      
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;      
      .left{
      text-transform: capitalize;     
      a{
          text-decoration: none;
          color:rgb(73, 72, 72);            
          &:hover{
          color:inherit;        
          }
        }     
      }     
    }    
    }
 .box{
  width:90vw;
  margin: 50px auto;
  
 }
  
}