@import "../../global.scss";

.products{
  width:100vw; 
  background-color: white; 

  .hero-img{     
    height:38vh; 
    margin: 0 auto;
    background-image: linear-gradient(to  bottom, rgb(255, 149, 0), rgb(246, 199, 11));   
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;  
    @include laptops{       
      height:270px;    
    }
    @include tablets{       
    height:200px;
    }
    @include mobile{       
    display: none;
    }
    img{
      width:100%;
      height:100%;
      object-fit:contain;
      position: absolute;
      right:-250px;
        }
  }

  .line{
    width:90vw;
    height:1px;
    margin: 0 auto;    
    background-color:  lightgray;
    position: sticky;
    top:210px;
    z-index: 1;    
  }
  .breadcrumbs{   
    width: 100%;
    margin: 10px auto;
    padding: 10px 90px;
    position: sticky;
    top:115px;
    z-index: 1;
    background-color: white;
        
    @include desktops{       
       padding:20px 50px ;     
    }
    @include laptops{       
      padding: 20px ;     
    }
    @include tablets{      
      padding: 20px ;      
    }   
    @include mobile{       
      padding: 20px ; 
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;
      .left{
      text-transform: capitalize;
      @include mobile{       
        display: none;              
      }
      a{
         text-decoration: none;
         color:gray;
         &:hover{
          color:inherit;
         }
      }     
      }
      .middle{
        color: gray;
        font-size: 1.5rem;
        cursor: pointer;
        @include extra-large-screen(){       
          display: none;
        }
        @include desktops{       
          display: none;
          
        }
        @include laptops{ 
          display: none;
                    
        }
        @include tablets{       
          display: none;
              
        }
        @include mobile{       
          display: block;              
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: center;   
        span{
          @include mobile{       
            display: none;              
          }
        }
        .sort{
          position: relative; 
          padding-right: 7px;  
          display:flex;
          align-items: center;  
          justify-content: center;            
          select {         
            border: none !important;  
            outline: none !important;         
            scroll-behavior: smooth;   
            text-transform: uppercase;      
            cursor: pointer; 
            z-index: 1; 
            font-weight: 700; 
            letter-spacing: 1.1px;   
              color:gray;  
              border-color: gray !important;             
          } 
            .button{            
            position: absolute;
            top:3px;
            right:3px;
            background-color: white; 
            padding-right:10px;
            margin-right:5px;
            pointer-events: none;
            font-size: 12px;
            width:17px;
            height:15px;
            color:grey;
            outline: none;  
            &:hover{
              color:black;
            } 
            } 
        }
      }
    }   
    
  }
  .contents{
    display: flex;  
    justify-content: center;   
    width:90vw;
   

    margin: 10px auto;   
    gap:10px;
    
    @include laptops{       
      width:95vw;   
      margin: 0 auto;
      gap:20px;
    }
    .left{    
      display: flex;    
      justify-content: center;  
      flex-direction: column;    
      position: sticky;
      top:200px;      
      width:330px;
      height: calc(100% - 200px); 
      margin-top: 5px;  
      @include laptops{       
        width:310px;   
      }
      @include mobile{       
      display: none;
      }
      // .tags{
      //   position: absolute;
      //   top:1100px;
      //   left:0px;
        
       
      //   &.active{          
      //     position: fixed;
      //     top:1000px;
      //     left:90px;
    

      //   }
          
 
      //   @include mobile{
      //     display: none;
      //   }
      //   .title{
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   font-size: 1.2rem;
      //   text-transform: capitalize;
      //   padding: 20px 0 10px 0;
      //   }
      //   .tag-item{
      //     display: flex;
      //     flex-direction: row; 
      //     flex-wrap: wrap;
      //     gap:10px;
      //     .tag{
      //       width:max-content;
      //       border: solid gray 1px ;
      //       padding: 10px 20px;
      //       //margin: 8px 0;
      //       text-transform: uppercase;  
      //       font-size: .90rem;  
      //       color:gray; 
      //       cursor: pointer; 
      //       &:hover{
      //         color:black;
      //         border-color: black;
      //       }    
      //     }
         
      //   }
      // }      
    }
    .right{   
      //width:100%;         
      flex:2;
      display: flex;   
      align-items: center;
      justify-content: center;
      flex-direction: column;   
      padding-left: 30px;
      position: relative;
      .loading{
        width:100%;
        position: absolute;
        top:0;
        left:50px;
      }
      .card{
        display: flex;       
        align-items: center;  
        justify-content: center;
        flex-wrap: wrap;
        gap:20px;
        padding-bottom: 50px;
      }
      .page-number-top{    
        width: 320px;        

        @include extra-large-screen(){       
        margin-bottom: 30px;
        }
        @include desktops{       
          margin-bottom: 30px;
        }
        @include laptops{ 
              display: none;       
        }
        @include tablets{       
              display: none; 
        }
        @include mobile{       
          display: none; 
        }          

      }
      .deals{
        display: flex;
        align-items: center;
        justify-content: space-around;       
        width:100%;   
        height:500px;       
        -webkit-box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
        box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);       
        @include desktops{   
          display: none; 
        } 
        @include laptops{    
          display: none;   
        } 
        @include tablets{       
        display: none;
        }
        @include mobile{    
          display: none; 
        }
        .left{
          flex:1;
        }
        .right{
          flex:1;
          @include tablets{    
            display: none;
          } 
          @include mobile{    
            display: none;
          } 
        }
      }    
     
    }   
  }
   .page-number-bottom{
    width: 320px;    
    @include extra-large-screen(){       
    display: none;
    }
    @include desktops{       
      display: none;
    }
    @include laptops{ 
      display: flex; 
      //width:90vw;
      margin: 0 auto;      
    }
    @include tablets{       
         display: flex; 
    }
    @include mobile{       
      display: flex; 
    }    
  }
  .single-deal{ 
    // height:500px;  
    @include extra-large-screen(){       
      display: none;
    }
    @include desktops{       
      display: flex; 
      align-items: flex-start;
      justify-content: space-around;      
      margin: 0 auto;
      -webkit-box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
      box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
      margin: 50px 30px;      
      padding-right:20px ;     
    }
    @include laptops{ 
      display: flex; 
      align-items: flex-start;
      justify-content: space-around;      
      margin: 0 auto;
      -webkit-box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
      box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
      margin: 50px 30px;      
      padding-right:20px ;      
    }
    @include tablets{  
       
      .right{
        @include tablets{  
                 
          display: none; 
        }
        @include mobile{ 
               
          display: none; 
        }
      }  
      display: flex; 
      -webkit-box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
      box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
      margin: 50px 30px;
      padding-bottom:50px ;
      padding-right: 20px;
    }
    @include desktops{ 
      padding-top: 30px;
    }
    @include tablets{       
       display: flex; 
       -webkit-box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
       box-shadow: 2px -2px 37px 1px rgba(163,163,163,0.39);
       margin: 50px 30px;
       padding-bottom:50px ;
       height: 450px;
    
    }   
    @include mobile{ 
     height: 730px;      
      
    } 
  }
}